@{
    // Change this to match the H1 tag below for consistency
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />

    <img src="~/images/hilton.jpg" alt="Joel Hilton" />
</div>