@model Movie
@{
    ViewData["Title"] = "Movie Form";
}

<h1>Movie Collection Form</h1>

<form method="post">
    <input type="hidden" asp-for="MovieId" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        @* Drop down for category selection *@
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId" class="form-select">
            <option value="">Select a Category</option>
            @foreach (var c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
    </div>
    @* Areas on form for user to fill out *@
    <div class="mb-3">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" class="form-control" />
    </div>
    @* choose from a list of ratings *@
    <div class="mb-3">
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" class="form-select">
            <option value="">Select a Rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="NR">NR</option>
            <option value="UR">UR</option>
        </select>
    </div>
    @* choose yes/no *@
    <div class="mb-3">
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited" class="form-select">
            <option value="">Select an Option</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" class="form-control" />
    </div>
    @* choose yes/no *@
    <div class="mb-3">
        <label asp-for="CopiedToPlex">Copied to Plex:</label>
        <select asp-for="CopiedToPlex" class="form-select">
            <option value="">Select an Option</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    @* open box for writing notes *@
    <div class="mb-3">
        <label asp-for="Notes">Notes:</label>
        <textarea asp-for="Notes" class="form-control" maxlength="25"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>